body {
    display: flex;
    padding: 100px;
    background: black;
    color: white;
    justify-content: center;
}

main {
    width: 750px;
}

.second {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.right-text {
    padding-left: 40px;
}
.under-text * {
    text-align: justify;
}

.header-text h1 {
    text-align: center;
}

.links * {
    display: flex;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a:hover {
    color: blue;
}

.third {
    display: flex;
}

.third .right-text {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    align-content: center;
}


.header-text {
    text-align: center;
}

.update-last {
    display: flex;
    flex-direction: row-reverse;
    font-size: 15px;
}


@media screen and (max-width: 600px) {
    body {
        display: block;
        padding: 20px; /* Уменьшаем внутренние отступы для мобильных устройств */
    }

    main {
        width: auto;
    }

    .links * {
        display: block;
    }

    /* Уменьшаем размер шрифта на мобильных устройствах */
    .header-text h1 {
        font-size: 24px;
    }

    /* Уменьшаем отступы и размер шрифта на мобильных устройствах */
    .links * {
        font-size: 14px;
    }

    /* Делаем третий раздел (Education) более компактным на мобильных устройствах */
    .third {
        flex-direction: column; /* Устанавливаем вертикальное направление для элементов */
        align-items: center; /* Выравниваем элементы по центру */
    }

    /* Уменьшаем размер шрифта и отступы на мобильных устройствах */
    .third .under-text p {
        font-size: 14px;
    }

    /* Уменьшаем размер шрифта и отступы на мобильных устройствах */
    .third .right-text p {
        font-size: 14px;
    }

    /* Делаем второй раздел (Backend Developer Python) более компактным на мобильных устройствах */
    .second {
        text-align: center;
    }

    /* Уменьшаем размер шрифта на мобильных устройствах */
    .second .under-text p {
        font-size: 14px;
    }

    /* Делаем четвертый раздел (Advanced training, courses) более компактным на мобильных устройствах */
    .fourth {
        text-align: center;
    }

    /* Уменьшаем размер шрифта и отступы на мобильных устройствах */
    .fourth .under-text p {
        font-size: 14px;
    }
}
